.Orders-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow-y: auto;
    width: 100vw;
    margin-left: 0;
  }
  
  .Orders-content {
    max-width: 84%;
    margin-left: 0;
    margin-right: auto;
    padding: 1.5rem;
    flex-grow: 1;
    margin-top: 60px;
    width: 85vw;
  }
  
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 32px;
  }
  
  .charts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    margin-bottom: 32px;
  }
  